<section class="intro">
  <div class="container">
    <a href="https://github.com/MayankGeek"><center><img src="https://avatars0.githubusercontent.com/u/55140492?s=460&v=4" alt="Mayank Sharma" style="width:250px;height:250px;"></center></a>
    <p style="font-size:18px;">Im Mayank a Computer Science student 🎒📚.<br><br>
      I have a passion for technology and the desire to learn and explore more.I believe in solving people's using technology.I'm passionate about Web Technologies(Backend), Programming languages and Open Source Software.There is nothing fascinating about me but when it comes to technology stack I try to learn something new everyday.I deeply believe in self learning as it gives me the freedom to learn in the way I want how I want and what I want.    
    </p>
  </div>
</section>
