<section class="intro">
  <div class="container">
    <a href="https://github.com/MayankGeek"><center><img src="https://avatars0.githubusercontent.com/u/55140492?s=460&v=4" alt="Mayank Sharma" style="width:250px;height:250px;"></center></a><br><br>
    <p style="font-size:16px;">I'm <strong>Mayank</strong> a Computer Science student 🎒📚.<br><br>
      I have a passion for Technology and the desire to learn and explore more.I believe in <strong>solving people's using Technology.</strong>I'm passionate about <strong>Web Technologies(Backend),Programming languages and Open Source Software.</strong>There is nothing fascinating about me but when it comes to technology stack I try to learn something new everyday.I deeply believe in <strong>self learning </strong>as it gives me the freedom to learn in the way I want,how I want and what I want.<br><br>
      <strong>Python</strong> is the language that I mostly work with.I'm also fascinated about <strong>Oprating system</strong> and how they work.<br><br>
      <strong>Steve Job's</strong> is whom I admire and he is my idol.<br><br>
      Quotes that motivates me-<br><br>
      “Don't let the noise of others' opinions drown out your own inner voice.”<br>
      <strong>“Remembering that you are going to die is the best way I know to avoid the trap of thinking you have something to lose.”</strong><br><br>
      <strong>“We’re here to put a dent in the universe. Otherwise why else even be here?”</strong><br><br>
      <strong>“Your time is limited, so don’t waste it living someone else’s life.”</strong><br><br>
    </p>
  </div>
</section>
